<template>
  <div>
    <h1>雷达图 </h1>
    <h2>代码示例</h2>
    <geoeye-example :config="radar" :customcode="JSON.stringify(radar.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import radar from './radar.json'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'tooltip'],
      radar
    }
  }
}   
</script>

<style>
  
</style>