<template>
  <div class="list">
    <geoeye-card v-for="item in cases" :key="item.id" :class="{active:active===item.id}" :thumbnail="item.thumbnail" @on-default-click="showCase(item)">
      <div slot="title">
        <span>{{item.name}}</span>
      </div>
      <div slot="meta">
        <span>{{item.des}}</span>
      </div>
    </geoeye-card>
  </div>
</template>

<script>
export default {
  props: ['cases', 'active'],
  methods: {
    showCase(item) {
      this.$emit('on-select', item)
    }
  }
}  
</script>

<style scoped>
.list{
  height: 100%;
  overflow: auto;
}
.active{
  outline: 1px solid #078b98;
}
</style>