<template>
  <Layout style="height: 100%;">
    <Header>
      <div class="head">
        <div class="layout-logo">
          Geoeye-js
          <span class="version" style="font-size: 12px;">示例程序</span>
        </div>
      </div>
    </Header>
    <Layout style="height: calc(100% - 65px);">
      <geoeye-run-code :code="code"/>
    </Layout>
  </Layout>
</template>

<script>
export default {
  props: ['caseid'],
  mounted() {
    let id = this.$route.params.caseId
    fetch(`./cases/${id}.txt`).then(res => res.text()).then(data => {
      this.code = data
    })
  },
  data() {
    return {
      code: '',
    }
  }
}
</script>

<style scoped>
.layout-logo{
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: -17px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-size: 28px;
}
.head{
  height: 65px;
  background-color: #515a6e;
}
</style>