<template>
  <div>
    <h1>切换按钮</h1>
    <div>用于切换不同组件之间的显示与隐藏</div>
    <h2>代码示例</h2>
    <geoeye-example :config="tab" :customcode="JSON.stringify(tab.components, null, 2)" :height="260"/>
    <div class="meta">基本用法。给每个选项卡指定需要显示的组件id来实现点击时显示/隐藏不同的组件</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import tab from './tab.json'
export default {
  data() {
    return {
      src: md,
      tab
    }
  }
}   
</script>

<style>
  
</style>