<template>
  <div>
    <h1>轮播</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="chart" :customcode="JSON.stringify(chart.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。<span class="code">pages</span>可以指定多个url链接</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import chart from './chart.json'
export default {
  data() {
    return {
      src: md,
      chart
    }
  }
}   
</script>

<style>
  
</style>