<template>
  <div class="card" @click="defaultClick">
    <div class="thumb inline"></div>
    <div class="meta inline">
      <div class="namediv">
        <slot name="title"></slot>
      </div>
      <div class="date">
        <slot name="meta"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['thumbnail'],
  methods: {
    defaultClick(e) {
      this.$emit('on-default-click', e)
    }
  }
}
</script>

<style lang="less" scoped>
.card {
  width: 240px;
  height: 70px;
  margin: 5px;
  float: left;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  transition: all .3s;
  &:hover{
    transform: scale(1.05);
  }
  .thumb {
    width: 50px;
    height: 100%;
    background-color: #ebf5f7;
    background-image: url(~@/assets/scene-thumbnail.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    overflow: hidden;
    position: relative;
    border-radius: 2px 2px 0 0;
  }
  .meta {
    width: calc(100% - 50px);
    height: 100%;
    text-align: left;
    .namediv {
      color: #333333;
      padding: 0 10px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
    }
    .date{
      padding: 0 10px;
      font-size: 12px;
    }
  }
}
</style>
