<template>
  <div class="ge full" :style="`height: ${height || 300}px;`">
    <div class="geoeye-box inline">
      <Geoeye :config="config" ref="geoeye" />
    </div>
    <div class="code-box inline">
      <geoeye-monaco-editor :code="code" theme="vs-dark"/>
    </div>
  </div>
</template>

<script>
export default {
  props: ['config', 'customcode', 'height'],
  methods: {
    getCode() {
      if (this.config && !this.customcode) {
        this.code = JSON.stringify(this.config, null, 2)
      } else {
        this.code = this.customcode || ''
      }
    }
  },
  mounted() {
    this.getCode()
  },
  data() {
    return {
      code: ''
    }
  },
  watch: {
    config() {
      this.getCode()
    }
  }
}  
</script>

<style scoped>
.ge{
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  background: #07345a;
  margin-top: 10px;
}

.ge > div{
  width: 50%;
  height: 100%;
} 
.ge .geoeye-box{
  border-right: 1px dashed #eee;
}
</style>