<template>
  <Layout style="height: 100%;">
    <Header>
      <Menu mode="horizontal" theme="dark" :active-name="activeNav">
        <div class="layout-logo">
          Geoeye-js
          <span class="version" style="font-size: 12px;">v2.0.14</span>
        </div>
        <div class="layout-nav">
          <MenuItem name="1" :to="{name: 'guide'}">
            <Icon type="ios-navigate"></Icon>
            指南
          </MenuItem>
          <MenuItem name="2" :to="{name: 'style'}">
            <Icon type="ios-navigate"></Icon>
            样式规范
          </MenuItem>
          <MenuItem name="3" :to="{name: 'api'}">
            <Icon type="ios-keypad"></Icon>
            API
          </MenuItem>
          <MenuItem name="4" :to="{name: 'case'}">
            <Icon type="ios-analytics"></Icon>
            示例
          </MenuItem>
          <MenuItem name="5">
            <Icon type="ios-paper"></Icon>
            关于我们
          </MenuItem>
        </div>
      </Menu>
    </Header>
    <Layout style="height: calc(100% - 65px);" v-if="noSider">
      <slot name="content"></slot>
    </Layout>
    <Layout style="height: calc(100% - 65px);" v-else>
      <Sider hide-trigger :style="{background: '#fff', overflow: 'auto'}">
        <slot name="menu"></slot>
      </Sider>
      <Layout :style="{padding: '0 24px 24px'}">
        <Content :style="{padding: '20px', background: '#fff'}">
          <slot name="content"></slot>
        </Content>
      </Layout>
    </Layout>
  </Layout>
</template>

<script>
export default {
  props: ['activeNav', 'noSider']
}
</script>

<style scoped>
.layout-logo{
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: -17px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-size: 28px;
}
.layout-nav{
  width: 530px;
  margin: 0 auto;
  margin-right: 20px;
}
</style>
