<template>
  <div class="monaco-editor-container"></div>
</template>

<script>
// import * as monaco from 'monaco-editor'
import _ from 'lodash'
import * as monaco from 'monaco-editor/esm/vs/editor/editor.api.js'
import 'monaco-editor/esm/vs/editor/browser/controller/coreCommands.js'
import 'monaco-editor/esm/vs/editor/contrib/find/findController.js'
import 'monaco-editor/esm/vs/editor/contrib/folding/folding.js'
import 'monaco-editor/esm/vs/language/json/monaco.contribution'

export default {
  props: {
    code: {
      type: String,
      default: '// json \n'
    },
    language: {
      type: String,
      default: 'json'
    },
    theme: {
      type: String,
      default: 'vs-dark'
    }
  },
  data() {
    return {
      editor: null
    }
  },
  methods: {
    init() {
      this.editor = monaco.editor.create(this.$el, {
        value: this.code,
        theme: this.theme,
        roundedSelection: false,
        scrollBeyondLastLine: false,
        readOnly: false,
        automaticLayout: true,
        minimap: {
          enabled: false
        },
        language: this.language
      })
      this.editor.onDidChangeModelContent(() => {
        this.codeChangeEmitter()
      })
    },
    getCode() {
      return this.editor.getValue()
    }
  },
  mounted() {
    this.init()
    // 防抖函数
    this.codeChangeEmitter = _.debounce(() => {
      let code = this.editor.getValue()
      this.$emit('change', code)
    }, 1000)
  },
  distroyed() {
    this.editor && this.editor.dispose()
  },
  watch: {
    theme(value) {
      monaco.editor.setTheme(value)
    },
    code(value) {
      this.editor.setValue(value)
    }
  }
}
</script>

<style scoped>
.monaco-editor-container {
  height: 100%;
}
</style>
