<template>
  <div class="full rel">
    <div class="mapCon" id="exampleCon" >
      <div id="geoeye-box" class="full"></div>
    </div>
    <div class="code_area" id="codeAreaDiv" style="display: block;">
      <div class="code_area_title">
        <div class="inline fl">源代码</div>
        <div class="inline fr">
          <a class="copy" href="javascript:void(0);" @click.prevent="copyCode(null)">复制代码</a> 
          <a class="run" href="javascript:void(0);" @click.prevent="runCode(null)">运行</a>
        </div>
      </div>
      <div class="code_area_con">
        <geoeye-monaco-editor :code="code" theme="vs" language="javascript" ref="editor"/>
      </div>
    </div>
  </div>
</template>

<script>
import { Screen } from 'geoeye-js'
import { AdminDrilling } from 'admin-drilling'
export default {
  props: ['code'],
  methods: {
    runCode(code) {
      if (!code) {
        code = this.$refs.editor.getCode()
      }
      this.$el.querySelector('#geoeye-box').innerHTML = ''
      window.Screen = Screen
      window.AdminDrilling = AdminDrilling
      try {
        var cmd = new Function(code)
        cmd()
      } catch (err) {
        console.error(err)
        this.$store.commit('show_error', {
          type: 'error',
          title: '发生错误',
          message: err.message
        })
      }
    },
    copyCode() {
      let code = this.$refs.editor.getCode()
      let input = document.createElement('textarea')
      document.body.appendChild(input)
      input.value = code
      input.select()
      if (document.execCommand('copy')) {
        document.execCommand('copy')
        this.$Message.info('复制成功！')
      }
      //document.body.removeChild(input);
    }
  },
  mounted() {
    if(this.code) {
      this.runCode(this.code)
    }
  },
  data() {
    return {
      codeOpened: true
    }
  },
  watch: {
    code() {
      if (this.code) {
        this.runCode(this.code)
      }
    }
  }
}  
</script>

<style scoped>
.code_area{
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.code_area_title{
  height: 30px;
  line-height: 30px;
  background: #f7f7f7;
  padding: 0 15px;
}
.code_area_title a{
  margin-left: 10px;
}
.code_area_con{
  height: calc(100% - 30px);
}
.mapCon {
  width: 59.5%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #0e234a;
} 
</style>