<template>
  <div>
    <h1>散点图 </h1>
    <h2>代码示例</h2>
    <geoeye-example :config="scatter" :customcode="JSON.stringify(scatter.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import scatter from './scatter.json'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'grid', 'tooltip', 'xAxis', 'yAxis'],
      scatter
    }
  }
}   
</script>

<style>
  
</style>