<template>
  <Menu :active-name="activeMenu" style="width: auto;color:inherit;" @on-select="menuSelect">
    <MenuItem name="api-overview">
      <Icon type="md-document"/>
      基本用法
    </MenuItem>
    <MenuItem name="api-method">
      <Icon type="md-document" />
      方法
    </MenuItem>
    <MenuItem name="api-event">
      <Icon type="md-document" />
      事件
    </MenuItem>
  </Menu>
</template>

<script>
import {mapState} from 'vuex'
export default {
  methods: {
    menuSelect(name) {
      this.$router.push({name:'api2', params: {apiId: name}})
      this.$store.commit('update_menu', name)
    }
  },
  mounted() {
    let id = this.$route.params.apiId
    if (id) {
      this.$store.commit('update_menu', id)
    } else {
      this.menuSelect('api-overview')
    }
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapState({
      activeMenu: state => state.activeMenu
    })
  }
}   
</script>

<style scoped>
.group-title{
  font-size: 16px;
  padding-left: 10px;
  font-weight: 500;
  margin: 6px auto;
}
</style>