<template>
  <div>
    <h1>表格 </h1>
    <h2>代码示例</h2>
    <geoeye-example :config="table" :customcode="JSON.stringify(table.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import table from './table.json'
export default {
  data() {
    return {
      src: md,
      table
    }
  }
}   
</script>

<style>
  
</style>