<template>
  <div>
    <h1>漏斗图</h1>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'tooltip'],
    }
  }
}   
</script>

<style>
  
</style>