<template>
  <div>
    <div class="md" v-html="src"></div>
    <geoeye-example :config="autoplay" :customcode="JSON.stringify(autoplay.components, null, 2)" :height="260"/>
  </div>
  
</template>

<script>
import md from './index.md'
import autoplay from './autoplay.json'
export default {
  data() {
    return {
      src: md,
      autoplay
    }
  }
}   
</script>

<style>
  
</style>