<template>
  <div>
    <h1>基本形状</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="shape" :customcode="JSON.stringify(shape.components, null, 2)" :height="260"/>
    <div class="meta">基本用法</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import shape from './shape.json'
export default {
  data() {
    return {
      src: md,
      shape
    }
  }
}   
</script>

<style>
  
</style>