<template>
  <div>
    <h1>地图图例</h1>
    <h2>代码示例</h2>
    <geoeye-example ref="example" :config="legend" :customcode="JSON.stringify(this.legendConfig, null, 2)" :height="260"/>
    <div class="meta">基本用法</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import legend from './legend.json'
export default {
  mounted() {
    setTimeout(() => {
      let screen = this.$refs.example.$refs.geoeye.screen
      screen.addComponent(this.legendConfig)
    }, 2000)
  },
  data() {
    return {
      src: md,
      legend,
      legendConfig: {
        "id": "ergregreg4",
        "name": "图例",
        "type": "legend",
        "paint": {
          "mapId": "SyXtSmgC-",
          "backgroundColor": "#033c63",
          "borderColor": "#00ccff",
          "borderWidth": 1,
          "borderRadius": 5,
          "fontColor": "#ffffff",
          "itemWidth": 25,
          "itemHeight": 15,
          "fontSize": "small"
        },
        "layout": {
          "width": 220,
          "height": 240,
          "offsetX": 10,
          "offsetY": 10,
          "visible": true
        }
      }
    }
  }
}   
</script>

<style>
  
</style>