<template>
  <div>
    <h1>文本指标</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="metric" :customcode="JSON.stringify(metric.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import metric from './metric.json'
export default {
  data() {
    return {
      src: md,
      metric
    }
  }
}   
</script>

<style>
  
</style>