<template>
  <div>
    <h1>折线图</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="line" :customcode="JSON.stringify(line.components[0], null, 2)" :height="260"/>
    <div class="meta">基本折线图</div>
    <geoeye-example :config="smooth" :customcode="JSON.stringify(smooth.components[0], null, 2)" :height="260"/>
    <div class="meta">平滑曲线</div>
    <geoeye-example :config="dashed" :customcode="JSON.stringify(dashed.components[0], null, 2)" :height="260"/>
    <div class="meta">虚线和自定义折点</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import line from './line.json'
import smooth from './smooth.json'
import dashed from './dashed'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'grid', 'tooltip', 'xAxis', 'yAxis'],
      line,
      smooth,
      dashed
    }
  }
}   
</script>

<style>
  
</style>