<template>
  <div>
    <h1>时间轴</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="timeline" :customcode="JSON.stringify(timeline.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <geoeye-example :config="autoplay" :customcode="JSON.stringify(autoplay.components, null, 2)" :height="260"/>
    <div class="meta">自动播放，同时可以与其他组件进行联动。时间轴组件具有联动事件，可以在其他组件中监听时间轴当前的值来进行联动显示。</div>
    <geoeye-example :config="vertical" :customcode="JSON.stringify(vertical.components[0], null, 2)" :height="260"/>
    <div class="meta">竖向的时间轴。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import timeline from './timeline.json'
import autoplay from './autoplay.json'
import vertical from './vertical.json'

export default {
  data() {
    return {
      src: md,
      timeline,
      autoplay,
      vertical
    }
  }
}   
</script>

<style>
  
</style>