<template>
  <div>
    <h1>计时器</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="timer" :customcode="JSON.stringify(timer.components, null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import timer from './timer.json'
export default {
  data() {
    return {
      src: md,
      timer
    }
  }
}   
</script>

<style>
  
</style>