<template>
  <div>
    <h1>词云</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="chart" :customcode="JSON.stringify(chart.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <geoeye-example :config="shape" :customcode="JSON.stringify(shape.components[0], null, 2)" :height="400"/>
    <div class="meta">自定义形状。可以设置<span class="code">shape</span>属性指定一张图片，词云自动渲染为图片中的形状。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import chart from './chart.json'
import shape from './shape.json'
export default {
  data() {
    return {
      src: md,
      chart,
      shape
    }
  }
}   
</script>

<style>
  
</style>