<template>
  <component :is="contentComponent" ></component>
</template>

<script>
import Vue from 'vue'
import {mapState} from 'vuex'
export default {
  methods: {
    async getComponent() {
      if (!this.activeMenu) {
        this.contentComponent = null
        return
      }
      let type = this.activeMenu.split('-')[1]
      if (!type) {
        this.contentComponent = null
        return
      }
      let component = await import(`./docs/${type}/index.vue`)
      if (component) {
        this.contentComponent = Vue.extend(component.default)
      } else {
        this.contentComponent = null
      }
    }
  },
  mounted() {
    if (this.activeMenu) {
      this.getComponent()
    }
  },
  computed: {
    ...mapState({
      activeMenu: state => state.activeMenu
    })
  },
  data() {
    return {
      contentComponent: null
    }
  },
  watch: {
    activeMenu() {
      this.getComponent()
    }
  }
}   
</script>

<style>
  
</style>