<template>
  <Menu :active-name="activeMenu" style="width: auto;color:inherit;" @on-select="menuSelect">
    <MenuItem name="style-overview">
      <Icon type="md-document"/>
      概述
    </MenuItem>
    <MenuItem name="style-component">
      <Icon type="md-document" />
      组件配置
    </MenuItem>
    <MenuItem name="style-layout">
      <Icon type="md-document" />
      组件布局
    </MenuItem>
    <MenuItem name="style-source">
      <Icon type="md-document" />
      组件数据源
    </MenuItem>
    <MenuItem name="style-connect">
      <Icon type="md-document" />
      组件联动
    </MenuItem>
    <MenuItem name="style-plugin">
      <Icon type="md-document" />
      自定义组件
    </MenuItem>
    <div class="group-title">组件</div>
    <MenuGroup :title="charts.name" v-for="(charts, key) in componentList" :key="key">
      <MenuItem :name="`style-${chart.type}`" v-for="chart in charts.items" :key="chart.type">
        <Icon :type="chart.icon" />
        {{chart.name}}
      </MenuItem>
    </MenuGroup>
  </Menu>
</template>

<script>
import {mapState} from 'vuex'
import componentList from './component_list'
export default {
  methods: {
    menuSelect(name) {
      this.$router.push({name:'style2', params: {styleId: name}})
      this.$store.commit('update_menu', name)
    }
  },
  mounted() {
    let id = this.$route.params.styleId
    if (id) {
      this.$store.commit('update_menu', id)
    } else {
      this.menuSelect('style-overview')
    }
  },
  data() {
    return {
      componentList
    }
  },
  computed: {
    ...mapState({
      activeMenu: state => state.activeMenu
    })
  },
  watch: {
    '$route' (to, from) {
      let id = this.$route.params.styleId
      if (id) {
        this.$store.commit('update_menu', id)
      } else {
        this.menuSelect('style-overview')
      }
    }
  }
}   
</script>

<style scoped>
.group-title{
  font-size: 16px;
  padding-left: 10px;
  font-weight: 500;
  margin: 6px auto;
}
</style>