<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>可视化引擎开发文档</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but geoeye-docs-new doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script src="./lib/echarts/echarts.min.js"></script>
    <script src="./lib/echarts/echarts-wordcloud.min.js"></script>
    <script src="./lib/echarts/echarts-liquidfill.min.js"></script>
    <script src="https://unpkg.com/@geoway/vmap@latest/dist/vmap.min.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
