::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 160, 0.3);
  border-radius: 3px;
}

.full{
  width: 100%;
  height: 100%;
}

.inline{
  display: inline-block;
  vertical-align: middle;
}

.rel{
  position: relative;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.code{
  border-radius: 2px;
  color: #e96900;
  font-size: 12.8px;
  font-size: .8rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: nowrap;
  font-family: Consolas,Menlo,Courier,monospace;
}

.confirm-modal .ivu-modal-footer, .confirm-modal .ivu-modal-header{
  display: none;
}

.md h1, .md h2, .md h3, .md p{
  margin: 10px auto;
}

.md pre{
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.md pre > code{
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: Consolas,Menlo,Courier,monospace;
  font-size: 12.8px;
  font-size: .8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 5px;
  white-space: inherit;
}
.md code{
  border-radius: 2px;
  color: #e96900;
  font-size: 12.8px;
  font-size: .8rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: nowrap;
}
.md em{
  color: #8a8a8a;
}

.md blockquote{
  border-left: 4px solid #42b983;
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}

.md ul, .md ol{
  position: relative;
  left: 15px;
}

.md li{
  padding: 0.2em 0;
}

.md table{
  width: 100%;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-spacing: 0;
  font-family: Consolas,Menlo,Courier,monospace;
  font-size: 12px;
}
.md table td, .md table th {
  padding: 6px 10px;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.md table th {
  background-color: #f7f7f7;
}

.md hr{
  border: 1px dashed #dddddd;
}