<template>
  <geoeye-layout activeNav="3">
    <Menu slot="menu" />
    <Document slot="content" />
  </geoeye-layout>
</template>

<script>
import Menu from '@/components/api/Menu'
import Document from '@/components/api/Document'

export default {
  components: {
    Menu,
    Document
  }
}
</script>
