<template>
  <geoeye-layout activeNav="4" :noSider="true">
    <div class="full" slot="content">
      <div class="case-list inline">
        <CaseList :cases="cases" :active="selectedId" @on-select="selectItem" slot="content"/>
      </div>
      <div class="example inline">
        <geoeye-run-code :code="code"/>
      </div>
    </div>
  </geoeye-layout>
</template>

<script>
import cases from './case_list'
import CaseList from '@/components/cases/CaseList'
export default {
  components: {
    CaseList
  },
  methods: {
    selectItem(item) {
      this.selectedId = item.id
      this.$router.push({name:'example', params: {caseId: this.selectedId}})
      this.getData()
    },
    getData() {
      fetch(`./cases/${this.selectedId}.txt`).then(res => res.text()).then(data => {
        this.code = data
      })
    }
  },
  mounted() {
    let id = this.$route.params.caseId
    if (!id) {
      id = cases[0].id
    }
    this.selectedId = id
    this.getData()
  },
  data() {
    return {
      cases,
      code: '',
      selectedId: ''
    }
  }
}
</script>

<style lang="less" scoped>
.case-list{
  width: 260px;
  height: 100%;
  overflow: auto;
}
.example{
  width: calc(100% - 260px);
  height: 100%;
}
</style>
