<template>
  <geoeye-layout activeNav="1">
    <Menu slot="menu" />
    <Document slot="content" />
  </geoeye-layout>
</template>

<script>
import Menu from '@/components/guide/Menu'
import Document from '@/components/guide/Document'

export default {
  name: 'home',
  components: {
    Menu,
    Document
  }
}
</script>
