<template>
  <div>
    <h1>组合按钮</h1>
    <div>组合按钮与切换按钮样式设置相同，但用法不同。组合按钮不仅局限于切换组件的显影，它可以通过每次切换选中的按钮，来执行更多高级交互</div>
    <h2>代码示例</h2>
    <geoeye-example :config="tab" :customcode="JSON.stringify(tab.components, null, 2)" :height="260"/>
    <div class="meta">基本用法。配置一个联动事件名为<span class="code">prov</span>，在饼图组件中监听prov的值，这样每次点击不同的选项，饼图会自动更新为对应的省份。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import tab from './tab.json'
export default {
  data() {
    return {
      src: md,
      tab
    }
  }
}   
</script>

<style>
  
</style>