<template>
  <div>
    <h1>饼图/环图 </h1>
    <h2>代码示例</h2>
    <geoeye-example :config="pie" :customcode="JSON.stringify(pie.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <geoeye-example :config="ring" :customcode="JSON.stringify(ring.components[0], null, 2)" :height="260"/>
    <div class="meta">环状图。</div>
    <geoeye-example :config="rose" :customcode="JSON.stringify(rose.components[0], null, 2)" :height="260"/>
    <div class="meta">玫瑰图。</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import pie from './pie.json'
import ring from './ring.json'
import rose from './rose.json'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'tooltip'],
      pie,
      ring,
      rose
    }
  }
}   
</script>

<style>
  
</style>