<template>
  <div>
    <h1>图片</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="image" :customcode="JSON.stringify(image.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。可以设置<span class="code">href</span>属性为图片指定一个超链接，点击图片可以跳转到指定的地址。点击上面的图片试一下</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import image from './image.json'
export default {
  data() {
    return {
      src: md,
      image
    }
  }
}   
</script>

<style>
  
</style>