<template>
  <div>
    <h1>柱状图</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="bar" :customcode="JSON.stringify(bar.components[0], null, 2)" :height="260"/>
    <div class="meta">基本柱状图</div>
    <geoeye-example :config="multiData" :customcode="JSON.stringify(multiData.components[0], null, 2)" :height="260"/>
    <div class="meta">多个数据系列</div>
    <geoeye-example :config="showLabel" :customcode="JSON.stringify(showLabel.components[0], null, 2)" :height="260"/>
    <div class="meta">显示数值</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import bar from './bar.json'
import multiData from './multi_data.json'
import showLabel from './show_label'

export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'grid', 'tooltip', 'xAxis', 'yAxis'],
      bar,
      multiData,
      showLabel
    }
  }
}   
</script>

<style>
  
</style>