<template>
  <div>
    <h1>单行文本</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="text" :customcode="JSON.stringify(text.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import text from './text.json'
export default {
  data() {
    return {
      src: md,
      text
    }
  }
}   
</script>

<style>
  
</style>