<template>
  <div class="md" v-html="src">
  </div>
</template>

<script>
import md from './index.md'
export default {
  data() {
    return {
      src: md
    }
  }
}   
</script>

<style>
  
</style>