<template>
  <div>
    <h1>进度条</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="progress" :customcode="JSON.stringify(progress.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <geoeye-example :config="gradient" :customcode="JSON.stringify(gradient.components[0], null, 2)" :height="260"/>
    <div class="meta">渐变色。</div>
    <geoeye-example :config="icon" :customcode="JSON.stringify(icon.components[0], null, 2)" :height="260"/>
    <div class="meta">图标进度条。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import progress from './progress.json'
import gradient from './gradient.json'
import icon from './icon.json'
export default {
  data() {
    return {
      src: md,
      progress,
      gradient,
      icon
    }
  }
}   
</script>

<style>
  
</style>