<template>
  <div>
    <h1>滚动列表</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="scroll" :customcode="JSON.stringify(scroll.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import scroll from './scroll.json'
export default {
  data() {
    return {
      src: md,
      scroll
    }
  }
}   
</script>

<style>
  
</style>