<template>
  <div>
    <div class="md" v-html="src"></div>
    <div class="example">
      <geoeye-example :config="config" :height="280"/>
    </div>
  </div>
</template>

<script>
import md from './index.md'
import Config from './example.json'
export default {
  data() {
    return {
      src: md,
      config: Config
    }
  }
}   
</script>

<style scoped>
.example{
  width: 100%;
}  
</style>