<template>
  <div>
    <h1>下拉选择框</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="select" :customcode="JSON.stringify(select.components, null, 2)" :height="260"/>
    <div class="meta">基本用法。选择框组件有一个<span class="code">selectEvent</span>联动事件，可以在其他组件中引用该事件来获取选中的值，点开上面的选择框试试。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import select from './select.json'
export default {
  data() {
    return {
      src: md,
      select
    }
  }
}   
</script>

<style>
  
</style>