<template>
  <Menu :active-name="activeMenu" style="width: auto;color:inherit;" @on-select="menuSelect">
    <MenuItem name="guide-overview">
      <Icon type="md-document" />
      概述
    </MenuItem>
    <MenuItem name="guide-cdn">
      <Icon type="md-document" />
      CDN引入
    </MenuItem>
    <MenuItem name="guide-npm">
      <Icon type="md-document" />
      NPM安装
    </MenuItem>
    <MenuItem name="guide-vue">
      <Icon type="md-document" />
      在Vue中使用
    </MenuItem>
    <MenuItem name="guide-changelog">
      <Icon type="md-document" />
      更新日志
    </MenuItem>
  </Menu>
</template>

<script>
import {mapState} from 'vuex'
export default {
  methods: {
    menuSelect(name) {
      this.$router.push({name:'guide2', params: {guideId: name}})
      this.$store.commit('update_menu', name)
    }
  },
  mounted() {
    let id = this.$route.params.guideId
    if (id) {
      this.$store.commit('update_menu', id)
    } else {
      this.menuSelect('guide-overview')
    }
  },
  computed: {
    ...mapState({
      activeMenu: state => state.activeMenu
    })
  }
}  
</script>

<style>
  
</style>