<template>
  <div>
    <h1>象形柱状图</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="gradient" :customcode="JSON.stringify(gradient.components[0], null, 2)" :height="260"/>
    <div class="meta">渐变色</div>
    <geoeye-example :config="custom" :customcode="JSON.stringify(custom.components[0], null, 2)" :height="260"/>
    <div class="meta">自定义形状</div>
    <geoeye-example :config="overlay" :customcode="JSON.stringify(overlay.components[0], null, 2)" :height="260"/>
    <div class="meta">符号叠加</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import overlay from './overlay.json'
import gradient from './gradient.json'
import custom from './custom.json'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'grid', 'tooltip', 'xAxis', 'yAxis'],
      overlay,
      gradient,
      custom
    }
  }
}   
</script>

<style>
  
</style>