<template>
  <div>
    <h1>容器组件</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="background" :customcode="JSON.stringify(background.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。可以自定义背景色和边框，设置<span class="code">borderRadius</span>可以指定四个角的圆角半径</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import background from './background.json'
export default {
  data() {
    return {
      src: md,
      background
    }
  }
}   
</script>

<style>
  
</style>