<template>
  <div>
    <h1>双轴折线图</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="line" :customcode="JSON.stringify(line.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法。双轴折线图拥有左右两个y轴，可以单独配置<span class="code">yAxis</span>中的两个轴，也可以只配置一个轴或使用默认的配置，这样左右两个轴认为是完全相同的配置。在<span class="code">series</span>中设置<span class="code">yAxisIndex</span>来指定每个数据系列使用哪个y坐标轴。</div>
    <div class="md" v-html="src"></div>
    <div class="md" v-html="allWidgets[widget]" v-for="widget in widgets" :key="widget"></div>
  </div>
</template>

<script>
import md from './index.md'
import * as allWidgets from '../../widgets'
import line from './line.json'
export default {
  data() {
    return {
      src: md,
      allWidgets,
      widgets: ['legend', 'grid', 'tooltip', 'xAxis', 'yAxis'],
      line
    }
  }
}   
</script>

<style>
  
</style>