<template>
  <div>
    <h1>地图组件</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="basemap" :customcode="JSON.stringify(basemap.components[0], null, 2)" :height="260"/>
    <div class="meta">基础底图。</div>
    <geoeye-example :config="vmap" :customcode="JSON.stringify(vmap.components[0], null, 2)" :height="260"/>
    <div class="meta">专题地图。</div>
    <geoeye-example :config="service" :customcode="JSON.stringify(service.components[0], null, 2)" :height="260"/>
    <div class="meta">外部服务。</div>
    <div class="md" v-html="src"></div>
  </div>
</template>

<script>
import md from './index.md'
import basemap from './basemap.json'
import vmap from './vmap.json'
import service from './service.json'
export default {
  data() {
    return {
      src: md,
      basemap,
      vmap,
      service
    }
  }
}   
</script>

<style>
  
</style>