<template>
  <div>
    <h1>按钮</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="button" :customcode="JSON.stringify(button.components, null, 2)" :height="260"/>
    <div class="meta">基本用法。按钮组件有一个<span class="code">clickEvent</span>联动事件，可以在其他组件中引用该事件来获取点击的按钮，点击上面的按钮试试。</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import button from './button.json'
export default {
  data() {
    return {
      src: md,
      button
    }
  }
}   
</script>

<style>
  
</style>