<template>
  <div>
    <h1>水平柱状图</h1>
    <h2>代码示例</h2>
    <geoeye-example :config="bar" :customcode="JSON.stringify(bar.components[0], null, 2)" :height="260"/>
    <div class="meta">基本用法</div>
    <div class="md" v-html="src">
    </div>
  </div>
</template>

<script>
import md from './index.md'
import bar from './bar.json'
export default {
  data() {
    return {
      src: md,
      bar
    }
  }
}   
</script>

<style>
  
</style>